#u320-6,#u526-6
{
	font-family: josefin-slab-n7, serif;
}

#u537-4,#u331-5,#u324-4,#u303-18,#u303-5,#u303-7,#u303-9
{
	font-family: josefin-slab-n4, serif;
}

#u303-16 > #u303-11:before,#u303-10 > #u303-5:before,#u303-10 > #u303-7:before,#u303-10 > #u303-9:before,#u303-16 > #u303-13:before,#u303-16 > #u303-15:before
{
	font-family: josefin-slab-n4, Georgia;
}

#u405-4,#u367-4,#u538-4,#u330-5,#u323-4,#u302-4,#u198-4
{
	font-family: josefin-slab-n7, serif;
}

